extends layout

block body

  div(data-ng-controller="HyperController")

    div(data-hyper='.header.scripts')
      script(async='async', data-ng-repeat='script in scripts', data-ng-src='{{script.src}}', onload='{{script.onload}}')

    header(data-ng-include, src="'/partials/topnav.jade'", data-hyper=".account", data-ng-show="account")
    .main-container
      nav.side(data-ng-include, src="'/partials/sidenav.jade'", data-ng-show="app")
      main(data-ng-view="")
    footer(data-ng-include, src="'/partials/footer.jade'", data-ng-show="app")
