extends layout

block body

  div(data-ng-controller="HyperController")

    div(data-hyper='.header.scripts')
      script(async='async', data-ng-repeat='script in scripts', data-ng-src='{{script.src}}', onload='{{script.onload}}')

    mixin partial(name)
      div(data-ng-include, src="'/partials/" + name + ".jade'")

    +partial('topnav')
    +partial('sidenav')

    main(data-ng-view="")

    +partial('footer')
