.wrapper
  min-height 100%
  display flex
  flex-direction column

  > header
  > footer
  > .content > nav
  > .content > main
    padding PAD

  > header
    lace-row-space()
    lace-pad-children()
    lace-heroku-loaded()

    > .brand
      lace-brand()

  > footer
    lace-wrapper-footer()

  > .content
    lace-content()
    > nav
      lace-nav()
      a
        lace-nav-items()
    > main
      lace-main()

.brand
  background-image url('../images/logo-blue.png')

.icon-close
  display block
  height 2rem
  width 2rem
  padding PAD_SMALL
  cursor pointer
  text-align center
  opacity .7
  &:hover
    opacity 1

