.wrapper
  min-height 100%
  display flex
  flex-direction column

  > header
  > footer
  > .content > nav
  > .content > main
    padding PAD

  > header
    lace-row-space()
    lace-pad-children()
    lace-heroku-loaded()

    > .brand
      lace-brand()

  > footer
    lace-wrapper-footer()

  > .content
    lace-content()
    > nav
      lace-nav()
      a
        lace-nav-items()
    > main
      lace-main()

.brand
  background-image url('../images/logo-blue.png')

input
  &[hidden]
    display none!important

button
  background transparent
  border none
  outline none

.toggle
  label
    position relative
    cursor pointer
    display flex
    flex-direction row
    align-items center
    width 4rem
    border 1px solid #ccc
    text-align center
    overflow hidden
    *
      transition-duration .2s!important
      transition-property all
    span
      padding 0px
      height 15px
      flex 1
    .selector
      position absolute
      flex 1
      background rgba(white, .8)
      height 100%
      width 2rem
      border 1px solid rgba(black, .1)
      border-top none
      border-bottom none
      &.left
        left 0
        border-left-width 0
      &.right
        left 4rem
        border-right-width 0
  input:checked ~ label
    .selector
      &.left
        left -2rem
      &.right
        left 2rem

.accordion
  section
    border 1px solid #ccc
    margin-bottom PAD_SMALL
    user-select none

    header
      display flex
      justify-content space-between
      align-items center
      label.title
        cursor pointer
      > :first-child
        padding-left PAD_SMALL * 2
      > :last-child
        margin-right PAD_SMALL

    label.title
    span.name
      flex 1

    ul
      _speed = .3s
      padding 0 PAD_SMALL
      transition-duration _speed
      transition-property all
      border-top-width 0px
      border-top-style solid
      border-top-color #ccc
      li
        display flex
        justify-content space-between
        align-items center
        overflow hidden
        max-height 0
        opacity 0
        transition-duration _speed
        transition-property all
        border-width 0px
        border-style solid
        border-color #ccc
        margin 0
        margin-bottom 0
        *
          transition-duration _speed
          transition-property all
          opacity 0
        span.name
          padding-bottom 0
          padding PAD_SMALL

    input:checked ~
      ul
        border-top-width 1px
        padding PAD_SMALL
        li
          max-height 30px
          opacity 1
          margin-bottom PAD_SMALL
          border-width 1px
          &:last-child
            margin-bottom 0
          *
            opacity 1
          span.name
            padding-bottom PAD_SMALL

.close
  display block
  width 2rem
  padding PAD_SMALL
  cursor pointer
  text-align center

