ul(data-hyper='app.bandits')
  li(data-ng-repeat='bandit in bandits')
    span(data-hyper-bind='bandit.name')
    h4 Arms
    ul(data-hyper='bandit.arms')
      li(data-ng-repeat='arm in arms')
        span(data-hyper-bind='arm.name')
