mixin hyper-link(Name, icon, attributes)
  - var name = Name.toLowerCase();
  a(data-hyper-link="/apps/:app/"+ name,
    data-ng-class="{active: _route == '" + name + "'}",
    attributes)= Name
    i(class="fa fa-#{icon}")

+hyper-link("Graphs", "bar-chart-o")(data-feature="graphs")
+hyper-link("Events", "bullseye")
+hyper-link("Bandits", "compass")
+hyper-link("Config", "cogs")
