div(data-ng-controller='HyperController')

  .ng-cloak(data-hyper='app.sso', data-ng-show='!sso')
    div APPS DROPDOWN GOES HERE
    div
      a(href='/account') My Account
      a(href='/') My Apps

  h2(data-ng-show='app', data-hyper-bind='app.name')

