figure.brand
  a(data-hyper-link="/")

span(data-hyper-bind="app.name")

div(data-hyper=".account", data-ng-show="account")
  span(data-feature="my-account")
    a(data-hyper-link="/account") My Account
    | &nbsp;|&nbsp;
  a(data-hyper-link="/") My Apps
