figure.brand
  a(href='/')

span(data-hyper-bind='app.name')

div(data-hyper='.account', data-ng-show='account')
  span(data-feature="my-account")
    a(href='/account') My Account
    | &nbsp;|&nbsp;
  a(href='/') My Apps
